<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Список товаров:</h1>
    <table th:if="${frontProducts.size() > 0}" class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Наименование</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="b : ${frontProducts}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.title}"></td>
            <td th:text="${b.cost}"></td>
            <td><a class="btn btn-danger" th:href="@{'/products/remove/' + ${b.id}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>

    <span th:text="'Количество товаров: ' + ${frontProducts.size()}"/>
    <form th:action="@{'/products/add'}" method="post">
        <label>id</label>
        <input type="number" name="id">
        <label>title</label>
        <input type="text" name="title">
        <label>cost</label>
        <input type="double" name="cost">
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
</body>
</html>